* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 25px;
  height: 24px;
  /* border: 1px solid black; */
}

body,
html {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-size: 20px;
}

body {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#darkModeButton {
  box-sizing: border-box;
  margin-right: -50%;
  border: 1px solid white;
  background-color: white;
}

#sunIcon {
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(7deg) brightness(104%) contrast(102%);
}

textarea {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

#playArea {
  display: block;
  width: 470px;
  padding: 2.5px 2.5px;
  word-break: break-all;
  overflow: hidden;
}

.button {
  padding: 0px 10px;
}

#playWrapper {
  margin-top: 15px;
  display: flex;
}

#volumeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
}

#volumeSlider {
  transform: rotate(270deg);
  width: 100px;
  height: 70px;
}

#volumeTextInput {
  display: none;
}
